############
## Project
############

# Downloaded mug shot images
mugs/

# Log files
dentonpolice_*.html
dentonpolice_*.json
dentonpolice_*.txt

# Configuration file
config.yaml


#############
## Python
#############

*.py[co]
venv/
