############
## Project
############

# Downloaded mug shot images
mugs/

# Log files
dentonpolice_*.txt
dentonpolice_*.html

# Configuration file
config.yaml


#############
## Python
#############

*.py[co]
venv/
